/*--------------------DataViz - Test - CSS ----------------------------*/

/*----Remiose à 0 de toutes les marges----*/

* {
    margin: 0;
    padding: 0;
}

/*---------MAIN-------------*/

canvas {
    background-color: #deedff;
    background-image: url(Disque_Vinyl.svg);
    background-repeat: no-repeat;
    background-position: center;
}