/*--------------------DataViz - Test - CSS ----------------------------*/

/*----Remiose à 0 de toutes les marges----*/

* {
    margin: 0;
    padding: 0;
}

/*---------MAIN-------------*/

canvas {
    background-image: url(../Img/Disque_Vinyl.svg);
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    padding: 0 10px;
    text-align: center;
    font-size: 11px;
    color: darkgray;
}